body {
    font: 14px "Century Gothic", Futura, sans-serif;
    padding: 21px 20%;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 5px solid #999;
    float: left;
    font-size: 130px;
    font-weight: bold;
    line-height: 34px;
    height: 180px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 21%;
}

.square-success {
    background: #fff;
    border: 5px solid #2d9a00;
    float: left;
    font-size: 130px;
    font-weight: bold;
    line-height: 34px;
    height: 180px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 21%;
}

.square-failed {
    background: #fff;
    border: 5px solid red;
    float: left;
    font-size: 130px;
    font-weight: bold;
    line-height: 34px;
    height: 180px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 21%;
}

.square:hover {
    background: #44080828;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: grid;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}